<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="proxy" type="Any.Proxy.Configuration.ProxySection, Any.Proxy, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <proxy>
    <http>
      <listener name="test" host="localhost" port="50000"/>
    </http>
  </proxy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
