<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="proxy" type="Any.Proxy.Configuration.ProxySection, Any.Proxy, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <proxy>
    <!--<portMap>
      <module name="test" fromHost="localhost" fromPort="52271" toHost="localhost" toPort="1923"/>
    </portMap>-->
    <!--<http>
      <module name="test" port="50000" />
    </http>-->
     <!--<https>
      <module name="test" port="50000" />
    </https>-->
    <!--<httpAgent>
      <module name="test" port="50000" >
        <httpBridge url="http://lifemd5.com/"
                    useProxy="false"
                    proxy="inet-proxy-b.sputnik.loadb.ubs.net:8085"
                    useDefaultCredentials="true"
                    userName=""
                    password=""/>
      </module>
    </httpAgent>-->
    <!--<httpsAgent>
      <module name="test" port="50000" >
        <httpBridge url="http://hashabc.com/"
                    useProxy="false"
                    proxy="inet-proxy-b.sputnik.loadb.ubs.net:8085"
                    useDefaultCredentials="true"
                    userName=""
                    password=""/>
      </module>
    </httpsAgent>-->
    <!--<httpBridgeService>
      <module name="test" prefixes="http://hashabc.com/" />
    </httpBridgeService>-->
    <redirect>
      <module name="test" fromUrl="http://hashabc.com/" toUrl="http://habrahabr.ru/" />
      <module name="test2" fromUrl="http://hashabc.com:50000/" toUrl="http://habrastorage.org/" />
    </redirect>
  </proxy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
